:root {
  --body-bg: #fddcd2;

  --header-bg: #000000;
  --header-text: #f198ebfd;

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: #f198ebfd;

  --card-bg: #74fd467b;
  --card-text: #201e1d;
}
